{% extends "sub_base.html" %}
{% load static %}
{% block content%}

<div class="hero-wrap" style="background-image: url('{% static "images/about-us.jpg" %}');" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
      <div class="col-md-7 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
         <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="{% url 'website_app:index' %}">Home</a></span> <span>Voluteer</span></p>
        <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Senior Citizen</h1>
      </div>
    </div>
  </div>
</div>

{% comment %} <!-- Bootstrap Toast structure -->
<div class="toast" id="success-toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="3000" >
    <div class="toast-header">
        <strong class="mr-auto">Success!</strong>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body">
        Senior citizen created successfully!
    </div>
</div> {% endcomment %}

<section
class="ftco-section-3 img m-0"

>

<div class="card card-profile shadow m-1">
  <div class="card-body">
<div class="container">
  <div class="row d-md-flex">
    {% comment %} <div class="col-md-6 d-flex ftco-animate">
      <div
        class="img img-2 align-self-stretch"
        style="background-image: url('{% static "images/bg_4.jpg" %}')"
      ></div>
    </div> {% endcomment %}
    <div class="col volunteer pl-md-5 ftco-animate">
      <h3 class="mb-4 text-muted">Register as Senior Citizen</h3>
      <form id="register-form" method="post" >
        {% csrf_token %}
      
      <div class="pl-lg-4">
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label class="form-control-label" for="input-fullname">Full Name</label>
              <input type="text" id="input-fullname" class="form-control form-control-alternative" placeholder="Enter full name" name="fullname" autocomplete="off" value="{{ data.fullname|default:'' }}"  required>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="form-group">
              <label class="form-control-label" for="input-primary-contact">Primary Contact Number</label>
              <input type="number" id="input-primary-contact" class="form-control form-control-alternative" placeholder="Enter primary contact number" name="primaryno" value="{{ data.primaryno|default:'' }}"  required>
            </div>
          </div>
          
        </div>
        <div class="row">
          <div class="col-lg-3">
            <div class="form-group">
                <label for="date-of-birth" class="form-control-label">Date of Birth</label>
                <input class="form-control form-control-alternative" type="date"  id="date-of-birth" name="dateofbirth" value="{{ data.dateofbirth|date:'Y-m-d' }}" required>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="form-group">
              <label class="form-control-label" for="input-age">Age</label>
              <input type="number" id="input-age" class="form-control form-control-alternative" placeholder="Enter Age Here" name="age" value="{{ data.age|default:'' }}" >
            </div>
          </div>
          <div class="col-lg-3">
            <div class="form-group">
              <label class="form-control-label" for="input-gender">Gender</label>
              <select class="form-control form-control-alternative" id="input-gender" name="gender">
                <option value="Male"  {% if data.gender == 'Male' %}selected{% endif %}>Male</option>
                <option value="Female" {% if data.gender == 'Female' %}selected{% endif %}>Female</option>
                <option value="Other" {% if data.gender == 'Other' %}selected{% endif %}>Other</option>
              </select>
            </div>
          </div>
          
          <div class="col-lg-3">
            <div class="form-group">
              <label class="form-control-label" for="input-whatsapp">Whatsapp Number</label>
              <input type="number" id="input-whatsapp" class="form-control form-control-alternative" placeholder="Active Whatsapp Number" name="whatsappno" value="{{ data.whatsappno|default:'' }}"  required>
            </div>
          </div>

        </div>
      </div>
      <hr class="my-4 " />
      <!-- Address -->
      <h6 class="heading-small text-muted mb-4">Contact information</h6>
      <div class="pl-lg-4">
        <div class="row">
          <div class="col-lg-8">
            <div class="form-group">
              <label class="form-control-label" for="input-address">Address</label>
              <input id="input-address" class="form-control form-control-alternative" placeholder="Home Address"  type="text" name="fulladdress" value="{{ data.fulladdress|default:'' }}"  required>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="form-group">
              <label class="form-control-label" for="input-country">Country</label>
              <select class="form-control form-control-alternative" id="input-country" name="country" >
                <option>India</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
              <div class="form-group">
                <label class="form-control-label" for="input-state">State</label>
                <select class="form-control form-control-alternative" id="input-state" name="state">
                  <option>Karnataka</option>
                </select>
              </div>
            </div>
          <div class="col-lg-4">
            <div class="form-group">
              <label class="form-control-label" for="input-city">City</label>
              <select class="form-control form-control-alternative" id="input-city" name="city">
                <option>Belgaum</option>
              </select>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="form-group">
              <label class="form-control-label" for="input-country">Postal code</label>
              <input type="number" id="input-postal-code" class="form-control form-control-alternative" placeholder="Postal code" name="pincode" value="{{ data.pincode|default:'' }}"  required>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
              <div class="form-group">
                <label class="form-control-label" for="input-district">District</label>
                <select class="form-control form-control-alternative" id="input-district" name="district">
                  <option>Belgaum</option>
                </select>
              </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label" for="input-taluk">Taluk</label>
                  <select class="form-control form-control-alternative" id="input-taluk" name="taluk">
                    <option>Belgaum</option>
                  </select>
                </div>
              </div>
            <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label" for="input-landmark">Nearest Landmark</label>
                  <input id="input-landmark" class="form-control form-control-alternative" placeholder="Nearest landmark like car showroom,etc"  type="text" name="landmark" value="{{ data.landmark|default:'' }}"  required>
                </div>
              </div>
          </div>
          
      </div>
      <hr class="my-4 " />
      <!-- Description -->
      <h6 class="heading-small text-muted mb-4">Any Query</h6>
      <div class="pl-lg-4">
        <div class="form-group">
          <label>Questions ?</label>
          <textarea rows="4" class="form-control form-control-alternative" placeholder="write a few words if required ..." name="questions" >{{ data.questions|default:'' }}</textarea>
        </div>
      </div>

      <div class="form-group">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="consent-checkbox" name="consent" required>
            <label class="form-check-label" for="consent-checkbox">
                I understand that my submission will be added to the Senior Seva Helpline database and consent to receive calls and invites to various activities/events related to the Elderly.
            </label>
        </div>
    </div>
      <div class="row justify-content-end p-4 mt--1">
        
        <button type="submit" class="btn btn-white my-4">Submit</button>
        
        
      </div>
    </form>
    </div>
    
  </div>
</div>
</div>
</div>

</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>

<script>
    // Get the CSRF token from the cookie
function getCSRFToken() {
    const cookies = document.cookie.split(';');
    for (let i = 0; i < cookies.length; i++) {
        const cookie = cookies[i].trim();
        if (cookie.startsWith("csrftoken=")) {
            return cookie.substring("csrftoken=".length, cookie.length);
        }
    }
    return null;
}

    $('#register-form').validate({
        rules: {
            'fullname':'required',
            'input-primary-contact':'required',
            'date-of-birth':'required',
            'input-gender':'required',
            'input-whatsapp':'required',
            'input-address':'required',
            'input-country':'required',
            'input-state':'required',
            'input-city':'required',
            'input-postal-code':'required',
            'input-district':'required',
            'input-taluk':'required',
            'input-landmark':'required',
            'consent': 'required',
        },
        messages: {
            // custom error messages if needed
            'consent': showToastAlert('Alert','Please accept the terms and conditions.'),
        },
        errorClass: 'is-invalid',
        validClass: 'is-valid',
        errorElement: 'div', // Use a custom error element, e.g., div
        errorPlacement: function(error, element) {
            // Handle error placement as needed
            // You can add error messages where you prefer
            // Example: error.appendTo(element.parent());
        },
        highlight: function(element, errorClass, validClass) {
            // Highlight the field with missing input
            // Remove valid class and add invalid class
            $(element).removeClass(validClass).addClass(errorClass);
        },
        unhighlight: function(element, errorClass, validClass) {
            // Unhighlight the field with valid input
            // Remove invalid class and add valid class
            $(element).removeClass(errorClass).addClass(validClass);
        },
        submitHandler: function(form) {
            // When the form is valid, handle the form submission here
           // event.preventDefault();
          
        //     var selected_customer_id = document.getElementById("selected-customer-id");
        // var customer_name_input = document.getElementById("customer-name");
        // var date_of_delivery = document.getElementById('date-of-delivery').value.trim();
        // var add_information = $("#additional_info").val();
    
        
    
            // Create a JSON object with the form data
            const dictMap = {
                'fullname': fullname,
                'primaryno' : primaryno,
                'whatsappno': whatsappno,
                'age': age,
                'gender': gender,
                'fulladdress': fulladdress,
                'country': country,
                'state': state,
                'district': district,
                'taluk': taluk,
                'pincode': pincode,
                'city': city,
                'landmark': landmark,
                'dateofbirth': dateofbirth,
                'questions':questions
                // Add other form fields to the JSON object
            };
            console.log('dictMap::'+JSON.stringify(dictMap));
          
            
            // Perform an AJAX POST request
            
            const csrfToken = getCSRFToken();
            $.ajax({
                type: 'POST',
                url: '/register_senior_citizen/', 
                data: JSON.stringify(dictMap),
            headers: {
                'X-CSRFToken': csrfToken  // Include the CSRF token in the headers
            },
            contentType: 'application/json',
                success: function (response) {
                   
                   if (response.message === 'Senior citizen created successfully') {
                    
                    showToast('Success','Senior Citizen Registered Successfully');

                    // Redirect to home page 
                    window.location.replace('/home');
                }
    
                   
                },
                error: function (error) {
                    console.error('Error:', error);
                }
            });
        
            
        }
    });


    // Function to show a toast message
function showToast(message, bodyContent) {
    toastr.success(bodyContent, message, {
      positionClass: "toast-top-right",
      timeOut: 5e3,
      closeButton: !0,
      debug: !1,
      newestOnTop: !0,
      progressBar: !0,
      preventDuplicates: !0,
      onclick: null,
      showDuration: "300",
      hideDuration: "1000",
      extendedTimeOut: "1000",
      showEasing: "swing",
      hideEasing: "linear",
      showMethod: "fadeIn",
      hideMethod: "fadeOut",
      tapToDismiss: !1
  })

}

function showToastAlert(message, bodyContent) {
    toastr.warning(bodyContent, message, {
      positionClass: "toast-top-right",
      timeOut: 5e3,
      closeButton: !0,
      debug: !1,
      newestOnTop: !0,
      progressBar: !0,
      preventDuplicates: !0,
      onclick: null,
      showDuration: "300",
      hideDuration: "1000",
      extendedTimeOut: "1000",
      showEasing: "swing",
      hideEasing: "linear",
      showMethod: "fadeIn",
      hideMethod: "fadeOut",
      tapToDismiss: !1
  })
      // Get the toast element and its content
      /*var toastElement = document.getElementById("liveToast");
      var toastBody = toastElement.querySelector(".toast-body");
  
      // Update the toast content with the provided message and body content
      toastBody.textContent = bodyContent;
  
      // Show the toast
      var toast = new bootstrap.Toast(toastElement);
      toast.show();*/
  }
  
  
</script>

<script>
    //Calculate Age when dob is selected
document.addEventListener('DOMContentLoaded', function () {
    // Get references to the date of birth and age input fields
    const dateOfBirthInput = document.getElementById('date-of-birth');
    const ageInput = document.getElementById('input-age');

    // Attach an event listener to the date of birth input field
    dateOfBirthInput.addEventListener('input', function () {
        // Get the selected date of birth
        const dateOfBirth = new Date(dateOfBirthInput.value);

        // Calculate the age
        const today = new Date();
        const age = today.getFullYear() - dateOfBirth.getFullYear();

        // Update the age input field with the calculated age
        ageInput.value = age;
    });
});
</script>
{% endblock %}
