{% extends 'admin_pages/base.html' %}
{% load static %}
{% block content %}

<div class="main-content">
   
    
    <!-- Page content -->
    <div class="container-fluid mt-2 mb-4">
        <a
        class="h4 mb-0 text-primary text-uppercase d-none d-lg-inline-block mb-4 mt-2"
        href="">
        {% if data %}
        Update Senior Citizen Details
        {% else %}
        Add New Senior Citizen Details
        {% endif %}
    </a>
        <div class="card card-profile shadow">
        <div class="card-body">
    <form method="post" >
        {% csrf_token %}
      <h6 class="heading-small text-muted mb-4">Senior Citizen Information</h6>
      <div class="pl-lg-4">
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label class="form-control-label" for="input-fullname">Full Name</label>
              <input type="text" id="input-fullname" class="form-control form-control-alternative" placeholder="Enter full name" name="fullname" autocomplete="off" value="{{ data.fullname|default:'' }}"  required>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="form-group">
              <label class="form-control-label" for="input-primary-contact">Primary Contact Number</label>
              <input type="number" id="input-primary-contact" class="form-control form-control-alternative" placeholder="Enter primary contact number" name="primaryno" value="{{ data.primaryno|default:'' }}"  required>
            </div>
          </div>
          
        </div>
        <div class="row">
          <div class="col-lg-3">
            <div class="form-group">
                <label for="date-of-birth" class="form-control-label">Date of Birth</label>
                <input class="form-control form-control-alternative" type="date"  id="date-of-birth" name="dateofbirth" value="{{ data.dateofbirth|date:'Y-m-d' }}" required>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="form-group">
              <label class="form-control-label" for="input-age">Age</label>
              <input type="number" id="input-age" class="form-control form-control-alternative" placeholder="Enter Age Here" name="age" value="{{ data.age|default:'' }}" >
            </div>
          </div>
          <div class="col-lg-3">
            <div class="form-group">
              <label class="form-control-label" for="input-gender">Gender</label>
              <select class="form-control form-control-alternative" id="input-gender" name="gender">
                <option value="Male"  {% if data.gender == 'Male' %}selected{% endif %}>Male</option>
                <option value="Female" {% if data.gender == 'Female' %}selected{% endif %}>Female</option>
                <option value="Other" {% if data.gender == 'Other' %}selected{% endif %}>Other</option>
              </select>
            </div>
          </div>
          
          <div class="col-lg-3">
            <div class="form-group">
              <label class="form-control-label" for="input-whatsapp">Whatsapp Number</label>
              <input type="number" id="input-whatsapp" class="form-control form-control-alternative" placeholder="Active Whatsapp Number" name="whatsappno" value="{{ data.whatsappno|default:'' }}"  required>
            </div>
          </div>

        </div>
      </div>
      <hr class="my-4" />
      <!-- Address -->
      <h6 class="heading-small text-muted mb-4">Contact information</h6>
      <div class="pl-lg-4">
        <div class="row">
          <div class="col-lg-8">
            <div class="form-group">
              <label class="form-control-label" for="input-address">Address</label>
              <input id="input-address" class="form-control form-control-alternative" placeholder="Home Address"  type="text" name="fulladdress" value="{{ data.fulladdress|default:'' }}"  required>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="form-group">
              <label class="form-control-label" for="input-country">Country</label>
              <select class="form-control form-control-alternative" id="input-country" name="country" >
                <option>India</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
              <div class="form-group">
                <label class="form-control-label" for="input-state">State</label>
                <select class="form-control form-control-alternative" id="input-state" name="state">
                  <option>Karnataka</option>
                </select>
              </div>
            </div>
          <div class="col-lg-4">
            <div class="form-group">
              <label class="form-control-label" for="input-city">City</label>
              <select class="form-control form-control-alternative" id="input-city" name="city">
                <option>Belgaum</option>
              </select>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="form-group">
              <label class="form-control-label" for="input-country">Postal code</label>
              <input type="number" id="input-postal-code" class="form-control form-control-alternative" placeholder="Postal code" name="pincode" value="{{ data.pincode|default:'' }}"  required>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
              <div class="form-group">
                <label class="form-control-label" for="input-district">District</label>
                <select class="form-control form-control-alternative" id="input-district" name="district">
                  <option>Belgaum</option>
                </select>
              </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label" for="input-taluk">Taluk</label>
                  <select class="form-control form-control-alternative" id="input-taluk" name="taluk">
                    <option>Belgaum</option>
                  </select>
                </div>
              </div>
            <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label" for="input-landmark">Nearest Landmark</label>
                  <input id="input-landmark" class="form-control form-control-alternative" placeholder="Nearest landmark like car showroom,etc"  type="text" name="landmark" value="{{ data.landmark|default:'' }}"  required>
                </div>
              </div>
          </div>
          
      </div>
      <hr class="my-4" />
      <!-- Description -->
      <h6 class="heading-small text-muted mb-4">Any Query</h6>
      <div class="pl-lg-4">
        <div class="form-group">
          <label>Questions ?</label>
          <textarea rows="4" class="form-control form-control-alternative" placeholder="write a few words if required ..." name="questions" >{{ data.questions|default:'' }}</textarea>
        </div>
      </div>

      <div class="row justify-content-end p-4 mt--1">
        {% if data %}
        <button type="submit" class="btn btn-primary my-4">Update Senior Citizen</button>
        {% else %}
        <button type="submit" class="btn btn-primary my-4">Add New Senior Citizen</button>
        {% endif %}
        
      </div>
    </form>
  </div>
</div>
</div>
</div>

<script>
    //Calculate Age when dob is selected
document.addEventListener('DOMContentLoaded', function () {
    // Get references to the date of birth and age input fields
    const dateOfBirthInput = document.getElementById('date-of-birth');
    const ageInput = document.getElementById('input-age');

    // Attach an event listener to the date of birth input field
    dateOfBirthInput.addEventListener('input', function () {
        // Get the selected date of birth
        const dateOfBirth = new Date(dateOfBirthInput.value);

        // Calculate the age
        const today = new Date();
        const age = today.getFullYear() - dateOfBirth.getFullYear();

        // Update the age input field with the calculated age
        ageInput.value = age;
    });
});
</script>
  {% endblock %}